/* @import "natsumi/natsumi.css"; */
@import "./tab-group.css";

#zen-tabbox-wrapper {
  border-radius: 6px !important;
  overflow: hidden;
}

.browserSidebarContainer {
  border-radius: 6px !important;
}

:root {
  --zen-element-separation: 10px !important;
}

.tabbrowser-tab {
  & .tab-background {
    &::before {
      display: none;
    }
  }
}

