neovim/.config/nvim/.netrwhist
neovim/.config/nvim/spell

vim/.vim/.netrwhist
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/spell/*.spl
vim/.vim/sessions
vim/.vim/undodir

fish/.config/fish/fish_history
fish/.config/configstore
fish/.config/fisherman
fish/.config/fish/fishd.*
fish/.config/fish/secrets.fish

zed/.config/zed/conversations/*
