[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "bin/.bin/moreutils"]
	path = bin/.bin/moreutils
	url = git://git.joeyh.name/moreutils
[submodule "ghostty/.config/ghostty/shaders"]
	path = ghostty/.config/ghostty/shaders
	url = git@github.com:hackrmomo/ghostty-shaders.git
[submodule "ghostty/.config/ghostty/themes/noctis-themes"]
	path = ghostty/.config/ghostty/themes/noctis-themes
	url = https://github.com/eastsun5566/ghostty-noctis-themes.git
[submodule "kakoune/.config/kak/bundle/kak-bundle"]
	path = kakoune/.config/kak/bundle/kak-bundle
	url = https://github.com/jdugan6240/kak-bundle
[submodule "ghostty/.config/ghostty/cursor_shaders"]
	path = ghostty/.config/ghostty/cursor_shaders
	url = https://github.com/KroneCorylus/ghostty-shader-playground
[submodule "tattoy/Library/Application Support/tattoy/cursor_shaders"]
	path = tattoy/Library/Application Support/tattoy/cursor_shaders
	url = https://github.com/KroneCorylus/ghostty-shader-playground
