neovim/.config/nvim/.netrwhist
neovim/.config/nvim/spell

vim/.vim/.netrwhist
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/spell/*.spl
vim/.vim/sessions
vim/.vim/undodir

fish/.config/fish/fish_history
fish/.config/configstore
fish/.config/fisherman
fish/.config/fish/fishd.*
fish/.config/fish/secrets.fish

zed/.config/zed/conversations/*
zed/.config/zed/embeddings/*
zed/.config/zed/.tmp*
zed/.config/zed/**/*.mdb

tmux/.tmux/plugins/*
tmux/.tmux/resurrect
!tmux/.tmux/plugins/tpm
tmux/.tmux/notify/*.pid

kakoune/Library/Application Support/kak-tree-sitter/*
!kakoune/Library/Application Support/kak-tree-sitter/config.toml
!kakoune/Library/Application Support/kak-tree-sitter/additional
kakoune/.config/kak/bundle/*

bombdadillo/.config/*

lazygit/**/state*

broot/.config/broot/launcher/
