neovim/.config/nvim/.netrwhist
neovim/.config/nvim/spell

vim/.vim/.netrwhist
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/spell/*.spl
vim/.vim/sessions
vim/.vim/undodir

micro/.config/micro/buffers/*

fish/.config/fish/fish_history
fish/.config/fish/fish_variables
fish/.config/configstore
fish/.config/fisherman
fish/.config/fish/fishd.*
fish/.config/fish/secrets.fish
fish/.config/fish/claude.fish

# static generated completions
fish/.config/fish/completions/volta.fish
fish/.config/fish/completions/atuin.fish
fish/.config/fish/completions/fnm.fish
fish/.config/fish/completions/fzf.fish
fish/.config/fish/completions/hub-tool.fish
fish/.config/fish/completions/sg.fish
fish/.config/fish/completions/oh-my-posh.fish
fish/.config/fish/completions/zoxide.fish

zed/.config/zed/conversations/*
zed/.config/zed/embeddings/*
zed/.config/zed/.tmp*
zed/.config/zed/**/*.mdb

tmux/.tmux/plugins/*
tmux/.tmux/resurrect
!tmux/.tmux/plugins/tpm
tmux/.tmux/notify/*.pid

kakoune/Library/Application Support/kak-tree-sitter/*
!kakoune/Library/Application Support/kak-tree-sitter/config.toml
!kakoune/Library/Application Support/kak-tree-sitter/additional
kakoune/.config/kak/bundle/*
!kakoune/.config/kak/bundle/kak-bundle
kakoune/.config/kak/sequences/frames-ascii/*

bombdadillo/.config/*

lazygit/**/state*

broot/.config/broot/launcher/

!aider/*.*

codex/.codex/*
!codex/.codex/config.json

!claude/.claude/settings.json

.storage

!.gitkeep

tmp
